In [ ]:
### written by Jinhuyk. Mun ###

## **3차시-실습**
배워볼 내용
*   Tuple
*   Dictionary

In [ ]:
### Tuple 자료형
# Tuple은 List와 정말 비슷합니다, 하지만 하나 중요한 점이 있다면 수정을 할수 없다는 것입니다.

성씨 = ("김씨","이씨","박씨","문씨")

type(성씨)
# 수정을 할수 없다 이것만 빼면 나머지는 List와 모두 동일합니다.

In [ ]:
# 인덱스 접근

print(성씨[1])

# List처럼 슬라이싱도 할 수 있습니다. 그런데 여기서 주의할 점은 () 를 쓴다고 슬라이싱 할때에도 (0:2) 처럼 사용하면 안됩니다.
print(성씨[0:2])

In [ ]:
# 다음처럼 할 경우 오류 발생합니다.
성씨(0:2)

In [ ]:
# 튜플 수정?

성씨[1] = "최씨"

In [ ]:
# 인덱스 추가

성씨 = 성씨 + "최씨"
print(성씨)

In [ ]:
# Tuple 표기법 2 

지역 = "강남","잠실","구의","분당"

type(지역)

# 또한 Tuple은 만약 값이 하나인경우 튜플로 사용되지 않습니다.

t = (3)
type(t)

# tuple에 한개의 값을 넣고 싶은 경우에는 (data,) 로 써주시면 됩니다.

t = (3,)
type(t)

In [ ]:
### Dictionary 
# 이번엔 Dictionary에 대해 알아보려고 합니다.

#Dictionary는 지금까지 배운 List랑은 비슷합니다, 하지만 저장하는 형식이 Key, Value 입니다.

#딕셔너리는 중괄호 {} 를 이용하여 사용합니다.

dic = {}
type(dic)

In [8]:
#딕셔너리의 가장 좋은 점은 인덱스가 숫자가 아니라는 점입니다, 다음 예시를 봅시다.

school = {"선생님":["김OO","최OO","박OO"],"반":[1,2,3,4,5],"위치":"강남구"}

#한번 school["선생님"] 을 해볼까요?

print(school["선생님"])
print(school["반"])

# 또한 다음 방법도 사용할 수 있습니다.
print(school.get("위치"))

[1, 2, 3, 4, 5]

In [ ]:
# 딕셔너리 추가 방법은 엄청 다양합니다.

school = {"교직원수":5}
school["학생수"] = 30

In [ ]:
# 딕셔너리는 List처럼 수정하면 됩니다. 한번 school 의 key가 위치인 곳을 분당구로 바꿔볼까요?

In [ ]:
# 해당 key가 딕셔너리 안에 있는지도 알 수 있습니다.

'연락처' in school

In [9]:
#딕셔너리의 값을 다른 변수로 옮겨줄수도 있습니다.

school_teacher = school["선생님"]
type(school_teacher)

list

## **연습해보기**

## **3차시 실습창**

In [ ]:
data1 = {
    "year":[2001,2002,2003,2004,2005,2006,2007,2008,2009,2010],
    "price_per_year":[3000,3010,3000,3200,3300,3400,3500,3400,3900,4000],
    "price_name":"snack chip",
    "now_price":4000
}

#다음은 주어진 data 입니다. 각 key 값을 이용하여 value들을 출력해보세요

In [ ]:
#2004년일때 음식의 가격을 알고 싶습니다. get을 사용하여 뽑아보세요

In [ ]:
# price_name을 "corn chip" 으로 바꾸고 싶습니다 바꿔보세요

In [ ]:
# 2011년의 가격은 4100원 입니다, year, price_per_year 의 value의 값을 추가해보고, now_price도 바꿔보세요