In [ ]:
### written by Jinhuyk. Mun ###

In [ ]:
#############
hello = '저장이 잘못된것 같습니다'
변수3 = '저장이 잘못된것 같습니다'
입력변수 ='저장이 잘못된것 같습니다 (input())사용해보세요'

## **2차시-실습**
배워볼 내용
*   주석
*   입력
*   출력
*   변수
*   List

### **주석**
주석은 ('#') 표시를 이용하여 합니다, 초록색 글씨라면 컴퓨터는 이 주석은 자동으로 넘어갑니다

### **출력**

출력은 결과 창에 어떠한 것을 출력하는 것과 같습니다.
출력은 'print('***')' 를 이용합니다, 특징이라면? 다른 언어 (C , Java 등 )과 달리 ; (세미콜론) 을 붙이지 않습니다
</br>

print를 사용하다보면 쉼표를 볼 수 있습니다.
쉼표의 의미는 무엇일까요?
아래 실습에서 확인해봅시다.
</br>


또한 똑같은 문구를 반복하여 출력도 할 수 있습니다
아래 실습에서 확인해봅시다.

In [ ]:
print('hello World!')
print(3)
print("123456")


a = 7
b = 8
c = 9
print("123456",a,b,c,"10")
print("Helloworld\n" * 10)

### **입력**

입력은 변수 = input() 를 사용합니다

자세히 보자면? 입력받은 값이 변수에 들어가게 됩니다.

그럼 앞으로 우리는 변수의 값이 우리가 입력한 값이랑 같다는 것을 알게 됩니다.

그럼 입력한 값을 다시 출력하려면 어떻게 해야 할까요?


위에서 배운 print(변수) 로 출력해주면 됩니다.

</br>


그리고 input()에서 () 안에 문장을 넣을 수 있습니다 이건 밑에 예시에서 알아볼 수 있습니다.

In [ ]:
변수 = input()
print(변수)

변수2 = input("변수2를 입력해주세요")

print(변수2)

### **변수**

 변수는 어떠한 값을 담아두는 바구니 같은 공간입니다, 변수 안에 값을 넣으면? 필요할때마다 그 값을 부를 수도 있고, 변수의 값을 바꿀수도 있습니다

 변수는 약간의 규칙이 있습니다

 python에서 사용하는 함수( print, input, if, 등등.. )은 사용 불가능입니다,

  컴퓨터가 해석하지 못하고, 숫자가 먼저 와도 해석을 못합니다

In [ ]:
변수 = 3 #변수에 3이란 값을 넣었습니다
a = 777 #변수 a 에 777 이란 값을 넣었습니다
b = 'hello' #변수에 'hello'라는 문자열을 넣었습니다
c = [1,2,3] #곧 배우겠지만 c에 리스트 형태의 무언가를 넣었습니다

# 한번 출력를 해보면 우리가 넣은 것 그대로 나올수 있습니다
# 그런데 출력은 어떻게 했었죠..? -> 실습으로 해봅시다

## 실습 1.

위에서 배운 변수 a,b,c를 한번 출력해봅시다.

- print()를 이용하여 출력을 할 수 있습니다.

In [ ]:
# 실습 1.

### **자료형**

프로그래밍을 하다보면 다양한 자료형을 가지고 자신이 원하는 프로그램을 만들 수 있습니다 (분석도 마찬가지 이고요...)
ppt 에서 간단히 알아보았는데요, 한번 간단히 실습해봅시다.

List 자료형


하나의 이름으로 여러개의 변수들을 담을 수 있는 가장 대표적인 자료형입니다.

In [ ]:
학과 = ["컴퓨터 공학과", "기계 공학과", "화학 공학과", "전기전자공학과"]
주식가격 = [3000,3010,3008,3000,2999]

이런식으로 데이터들을 원하는 이름으로 묶어서 저장할 수 있습니다. 이 데이터를 뽑아 내는 방법은 다양합니다 (나중에 반복문에서도 사용)

어떤 List의 특정 값을 뽑고 싶다면 다음처럼 할 수 있습니다.

In [ ]:
print(학과[0])
print(주식가격[1])

List는 자료분석에서도 아주 많이 사용되는 중요한 형태입니다

한번 List 자료를 뽑아보는 더 많은 방법을 알아볼까요? (한번 유추해보세요)

In [ ]:
List1 = [0,1,2,3,4,5]

print(List1[-1])
print(List1[4])

또 List는 특정 구간을 뽑아낼 수도 있습니다.

In [ ]:
Top7 = ["c","c++","java","python","js","ruby","c#"]

다음은 Top7이라는 List 입니다.

여기서 상위 3개만 뽑아내려면 어떻게 해야할까요?

In [ ]:
Top3 = Top7[0:3]
print(Top3)

이번엔 List에 새로 자료를 추가해봅시다.

위에서 만든 List1 에서 6이란 값을 추가해볼게요

In [ ]:
List1.append(6)
print(List1)

이번엔 원하는 위치에 값을 추가해볼까요?

In [ ]:
List1.insert(0,-1)
print(List1)

List 내의 데이터가 몇개있는지도 알아볼까요?

In [ ]:
print(len(List1))

마지막으로 자료를 삭제 해보겠습니다

In [ ]:

del List1[0]
print(List1)

지금까지 파이썬에서 가장 많이 사용되는 자료형인 List에 대해서 알아보았습니다.

list 말고도 여러가지 자료형이 파이썬에 존재합니다. 이는 나중 차시에서 차차 나오게 됩니다.

## 실습 2.

다음 밑의 주석처럼 출력해봅시다

'안녕하세요 저는 파이썬을 배우고 있습니다'


'제 이름은 OOO 입니다'


'오늘의 날짜는 OO월 OO일 입니다'

In [ ]:
## 실습 2.

## 실습 3.

다음 변수 < hello >에 'world'라는 문자를 저장해봅시다

다음 변수 <변수3>에 '12345'라는 숫자를 저장해봅시다

다음 변수 <입력변수>에 input()를 연결해보고, 실행시켜서 '안녕하세요' 라는 문자열을 입력해봅시다

In [ ]:
## 실습 3.

이 다음 블럭을 실행시켜서 제대로 넣은 값이 나오는지 확인해봅시다

In [ ]:
print(hello)
print(변수3)
print(입력변수)

## 실습 4.

난이도가 있는 list 입니다. 위에 자료를 잘 읽어보면서 문제를 풀어봅시다.

어떤 주식의 종가는 다음과 같습니다.


09/07의 종가를 리스트의 첫 번째 항목으로 입력해서 losing_price라는 이름의 리스트를 만들어보세요.



 날짜	요일	종가

 09/11	금	488,500

 09/10	목	500,500

 09/09	수	501,000

 09/08	화	461,500

09/07	월	474,500

다음 종가리스트의 마지막에 09/14 월 종가: 500,000 을 추가해보세요


다음 종가리스트의 첫번째에 09/05 금 종가: 484,000 을 추가해보세요

다음 종가리스트에서 앞에서 3개의 데이터를 출력해보세요

## 실습 5.

조금 데이터분석처럼 해볼까요?

위에서 만든 종가리스트에서 최고가를 뽑아보세요

(리스트에서 최댓값을 찾는 함수는 max() 입니다)

위에서 만든 종가리스트에서 최저가를 뽑아보세요

(리스트에서 최솟값을 찾는 함수는 min() 입니다)